@media only screen and (max-width: 768px) {
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.top-container {
  margin: 0;
  background-color: #b2fcff;
  padding-top: 50px;
}

h1 {
  margin-top: 60px;

  font-family: 'Sacramento', cursive;
  color: #3e64ff;
  line-height: 2;
  font-size: 300% /*16px is 100% so 110px; is 687.5%. When changing browser default font size percentages will scale, pixels won't*/
/*em - how many times bigger than font 16px. Can compound with em in the <body>. REM - doesn't compound with others*/
}



h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #3e64ff;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p {
  line-height: 2;
  text-align: center;
  margin: auto;

}

.bottom-cloud {
  position: absolute;
  width: 30%;
  right: 70%;
  bottom: 40%;
}

.top-cloud {
  position: absolute;
  width: 30%;
  left: 67%;
  padding-top: 20px;
}

.mountain-img {
  width: 95%;
}

.pro {
  text-decoration: underline;
}

.middle-container {
padding-top: 50px;
}

.skills {
    background-color: #b2fcff;
    padding: 50px 0;
}

.bottom-container {
    background-color: #b2fcff;

}

.profile-pic {
  border-radius: 100%;
  width: 70%;
}

.computer {
  border-radius:100%;
  text-align: center;
  width: 25%;
  float: left;
  margin: auto 5% 5% auto;
}

.porridge {

  border-radius:100%;
  text-align: center;
  width: 25%;
  float: right;
  margin-left: 5%;
    margin: auto auto 5% 5%;
}

.programmer {
  font-weight: normal;
  padding-bottom: 40px;
}

hr {
  border-style: dotted none none;
  border-color: grey;
  border-width: 7px;
  width: 20%;
}

.line-break {
  padding: 50px;
}


.skill-row {
  /*to center the div you can also use margin left and right AUTO*/
  display: inline-block; /*without this it doesn't align centrally*/
  width: 70%;
  text-align: center;
}

.profile {
  display: inline-block; /*without this it doesn't align centrally*/
  width: 70%;
  margin: auto;
}

.contact-me {
  display: inline-block; /*without this it doesn't align centrally*/
  width: 70%;
  text-align: center;
}

a {
  text-decoration: none;
  margin: auto;
}

.email-link {
  color: white;
  font-weight: bolder;
}

.btn {
  height: 40px;
  text-align: center;
  margin: 50px auto auto;
  padding: auto 30px;
  width: 50%;
  max-width: 120px;
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(#30e7ed, #00a6d7);
  border-width: 0;
  border-radius: 7px;
  line-height: 2.5;
  -webkit-box-shadow: 0px 5px 17px 0px rgba(125,125,125,1);
  -moz-box-shadow: 0px 5px 17px 0px rgba(125,125,125,1);
  box-shadow: 0px 5px 17px 0px rgba(125,125,125,1);
}

.footer-icon {
  width: 20px;
  padding: 25px;
}
}

/*----------------------------------------*/

@media only screen and (min-width: 769px) {
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.top-container {
  margin: 0;
  background-color: #b2fcff;
  position: relative;
  padding-top: 100px;
}

h1 {
  margin-top: 60px auto 0;

  font-family: 'Sacramento', cursive;
  color: #3e64ff;
  line-height: 2;
  font-size: 687.5% /*16px is 100% so 110px; is 687.5%. When changing browser default font size percentages will scale, pixels won't*/
/*em - how many times bigger than font 16px. Can compound with em in the <body>. REM - doesn't compound with others*/
}



h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #3e64ff;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p {
  line-height: 2;
}

.bottom-cloud {
  position: absolute;
  right: 70%;
  bottom: 40%;
}

.top-cloud {
  position: absolute;
  left: 72%;
  padding-top: 20px;
}

.pro {
  text-decoration: underline;
}

.middle-container {
padding-top: 90px;
}

.skills {
    background-color: #b2fcff;
    padding: 50px 0 50px 0;
}

.bottom-container {
    background-color: #b2fcff;

}

.profile-pic {
  border-radius: 100%;
}

.computer {
  border-radius:100%;
  text-align: center;
  width: 25%;
  float: left;
  margin: auto 5% 5% auto;
}

.porridge {

  border-radius:100%;
  text-align: center;
  width: 25%;
  float: right;
  margin-left: 5%;
    margin: auto auto 5% 5%;
}

.programmer {
  font-weight: normal;
  padding-bottom: 40px;
}

hr {
  border-style: dotted none none;
  border-color: grey;
  border-width: 7px;
  width: 7%;
}

.line-break {
  padding: 50px;
}


.skill-row {
  display: inline-block;
  /*to center the div you can also use margin left and right AUTO*/
  width: 50%;
  text-align: left;
}

.profile {
  display: inline-block;
  width: 50%;
}

a {
  text-decoration: none;
  margin: auto;
}

.email-link {
  color: white;
  font-weight: bolder;
}

.btn {
  height: 40px;
  text-align: center;
  margin: 50px auto auto;
  padding: auto 30px;
  width: 50%;
  max-width: 120px;
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(#30e7ed, #00a6d7);
  border-width: 0;
  border-radius: 7px;
  line-height: 2.5;
  -webkit-box-shadow: 0px 5px 17px 0px rgba(125,125,125,1);
  -moz-box-shadow: 0px 5px 17px 0px rgba(125,125,125,1);
  box-shadow: 0px 5px 17px 0px rgba(125,125,125,1);
}

.footer-icon {
  width: 30px;
  padding: 40px;
}

/*
.code-skill-text {
  clear:left;
}

.porridge-skill-text {
  clear: right;
}
*/
/*********************CENTERING ELEMENTS********************/
/*text-align: center; - works with elements that don't have a set width*/
/*margin: 0 auto 0 auto; OR margin: 0 auto; works with everything*/
/**/

}
